<!--PICTOS-->
<div class="avt_container">
	<div class="avt_item">
		<i class="fa-solid fa-screwdriver-wrench"></i>
		<div class="border_cont">
			<p class="avt_title">Réparation
			</p>
			<div class="border_b"></div>
		</div>
		<p class="avt_subtitle">Carosserie et Mécanique</p>
	</div>

	<div class="avt_sep"></div>

	<div class="avt_item">
		<i class="fa-solid fa-car"></i>
		<div class="border_cont">
			<p class="avt_title">Entretien</p>
			<div class="border_b"></div>
		</div>
		<p class="avt_subtitle">Régulier & Dans toute la France</p>
	</div>

	<div class="avt_sep"></div>

	<div class="avt_item">
		<i class="fa-solid fa-key"></i>
		<div class="border_cont">
			<p class="avt_title">Achat</p>
			<div class="border_b"></div>
		</div>
		<p class="avt_subtitle">Ne manquez pas les bonnes affaires!</p>
	</div>

	<div class="avt_sep"></div>

	<div class="avt_item">
		<i class="fa-regular fa-handshake"></i>
		<div class="border_cont">
			<p class="avt_title">Service client</p>
			<div class="border_b"></div>
		</div>
		<p class="avt_subtitle">Dédié et unique</p>
	</div>
	<!-- /END THE FEATURETTES -->
</div>
