<!-- PICTOS -->
<h4>
	Pourquoi nous choisir ?
</h4>
<div class="avt_container">
	<div class="avt_item card">
		<img src={{ asset('img/garagiste-services-proposes-par.jpg.webp')}} alt="Réparation" class="avt_image">
		<div class="border_cont">
			<p class="avt_title">Réparation</p>
			<div class="border_b"></div>
		</div>
		<p class="avt_subtitle">Carrosserie et Mécanique</p>
	</div>

	<div class="avt_sep"></div>

	<div class="avt_item card">
		<img src={{ asset('img/Garage_Shutterstock_897x505.jpg')}} alt="Entretien" class="avt_image">
		<div class="border_cont">
			<p class="avt_title">Entretien</p>
			<div class="border_b"></div>
		</div>
		<p class="avt_subtitle">Régulier & Dans toute la France</p>
	</div>

	<div class="avt_sep"></div>

	<div class="avt_item card">
		<img src={{ asset('img/bon-garagiste.jpg')}} alt="Achat" class="avt_image">
		<div class="border_cont">
			<p class="avt_title">Achat</p>
			<div class="border_b"></div>
		</div>
		<p class="avt_subtitle">Ne manquez pas les bonnes affaires!</p>
	</div>

	<div class="avt_sep"></div>

	<div class="avt_item card">
		<img src={{ asset('img/headphones-5720014_640.jpg')}} alt="Service client" class="avt_image">
		<div class="border_cont">
			<p class="avt_title">Service client</p>
			<div class="border_b"></div>
		</div>
		<p class="avt_subtitle">Dédié et unique</p>
	</div>
	<!-- /END THE FEATURETTES -->
</div>
