<div id="our-used-car" class="sectionA gris-clair-background">
	<h2 class="our-used-car-title">
		Nos occasions : ce qui va
		<span class="bleu">vous plaire !</span>
	</h2>
	<div class="used-category-container">
		<div class="used-category category-ppx card">
			<div class="category-title-container">
				<h3 class="used-category-title">Petits<br>
					prix</h3>
				<p class="category-description">Idéal pour les personnes en quête d'une nouvelle voiture d'occasion pas chère.</p>
				<a class="category-link" href="https://www.autosphere.fr/petits-prix.html">Voir les véhicules</a>
			</div>
		</div>
		<div class="used-category category-vd card">
			<div class="category-title-container">
				<h3 class="used-category-title">Véhicule<br>
					de direction</h3>
				<p class="category-description">Idéal pour les personnes souhaitant une véhicule récent, avec peu de kilomètre.</p>
				<a class="category-link" href="https://www.autosphere.fr/vehicule-direction.html">Voir les véhicules</a>
			</div>
		</div>
		<div class="used-category category-online card">
			<div class="category-title-container">
				<h3 class="used-category-title">Achat<br>
					en ligne</h3>
				<p class="category-description">Idéal pour les personnes préférant réaliser les démarches d'achats à distance et se faire livrer leur véhicule à domicile.</p>
				<a class="category-link" href="https://www.autosphere.fr/voitures-occasion-achat-en-ligne">Voir les véhicules</a>
			</div>
		</div>
		<div class="used-category category-km card">
			<div class="category-title-container">
				<h3 class="used-category-title">Faible<br>
					kilomètre</h3>
				<p class="category-description">Idéal pour les personnes souhaitant un véhicule avec peu de kilomètre.</p>
				<a class="category-link" href="https://www.autosphere.fr/faible-kilometrage.html">Voir les véhicules</a>
			</div>
		</div>
	</div>
</div>
