{% extends 'base.html.twig' %}

{% block title %}
	Bienvenu au garage Thomas!
{% endblock %}

{% block body %}
	<h1>Bienvenu au garage Thomas!</h1>
	<p>Vous êtes sur le site du garage Thomas, le meilleur garage de la région!</p>
{% endblock %}
