{% extends 'base.html.twig' %}

{% block title %}
	Bienvenu au garage Thomas!
{% endblock %}

{% block body %}
	<section class="main-container">

		{% include "product/_search.html.twig" %}

		<h1>Nos véhicules du mois</h1>
		<div class="row">
			{% for p in products %}
				<div class="col">
					{% include "_partials/_product_card.html.twig" %}
				</div>
			{% endfor %}
		</div>

		<hr>
		{% include "_partials/_picto.html.twig"%}
		<hr>


		<div class="row mt-5"></div>

	</section>

{% endblock %}
