<div class="shape-list">
	<h3>Votre
		<span style="color: #7b8a8b; font-size: 3rem;">nouveau véhicule</span>
		sera ...</h3>
	<ul>
		<li class="citadine">
			<a href="/citadine">
				<img src="{{ asset('img/citadine.png')}}" alt="Citadine">

			</a>
		</li>
		<li class="break">
			<a href="/berline">
				<img src="{{ asset('img/break.png')}}" alt="Berline">
			</a>
		</li>
		<li class="suv">
			<a href="/suv">
				<img src="{{ asset('img/suv.png')}}" alt="SUV">
			</a>
		</li>
		<li class="utilitaire">
			<a href="/utilitaire">
				<img src="{{ asset('img/utilitaire.png')}}" alt="Utilitaire"></a>
		</li>
	</ul>
</div>
