<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="keywords" content="garage, automobile, ecf"/>
		<meta name="author" content="Emma VIGNERON">
		<meta name="description" content="Le Garage Thomas est un garage de confiance">
		<title>
			{% block title %}Bienvenue sur le site du Garage Thomas !
			{% endblock %}
		</title>
		<script src="https://kit.fontawesome.com/50d220494b.js" crossorigin="anonymous"></script>
		<link href="Assets/fontawesome-free-6.4.2-desktop"> {% block stylesheets %}{% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body>
		{% include "shared/_navbar.html.twig" %}
		<div class="container">
			{% include "shared/_flash.html.twig" %}
			{% block body %}{% endblock %}
		</div>
		{% include "shared/_footer.html.twig" %}

	</body>
</html>
